* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  position: fixed;
  display: flex;
  height: 70px;
  width: 100%;
  background: dimgray;
  justify-content: space-between;
}

#nav-bar {
  display: flex;
  flex-direction: row;
}

.nav-link {
  text-decoration: none;
  color: black;
  height: 70px;
  width: 100px;
  text-align: center;
  padding: 22px 5px;
}

.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: white radial-gradient(circle, transparent 1%, white 1%) center/15000%;
}
.ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}

.container {
  padding-top: 100px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > section {
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 10px;
} 

section > p {
  padding: 0px 20px;
  text-align: justify;
}

form {
  display: flex;
  flex-direction: column;
}

form > #email {
  margin-bottom: 10px;
  padding: 5px;
}

form > #submit {
  padding: 5px;
}

footer {
  width: 100%;
  padding: 5px;
  text-align: right;
  bottom: 0px;
  background: dimgray;
}


@media (max-width: 800px) {
  header {
    height: 140px;
    flex-direction: column;
    align-items: center;
  }

  #header-img {
    width: 500px;
  }

  #nav-bar {
    width: 100%;
    justify-content: center;
  }

  .container {
    padding-top: 170px;
  }
}

@media (max-width: 550px) {
  header {
    height: 126px;
  }
  #header-img {
    width: 400px;
  }
}